body {
    font-family: 'Noto Sans JP','Quicksand', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

/* menu */

body {
    background-color: #eee
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white
}

.nav-link {
    color: #fff !important
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: darkblue;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%)
}

.navbar-brand:hover {
    color: #fff
}

.navbar-red {
    background-color: rgba(44, 121, 199, 1);
    color: #fff
}

.all-show {
    z-index: 10
}

.logoEntete{
    width: 50px;
    height: 50px;
}
.navbar-brand{
    background-color: #eeeeee;
    border-radius: 45%;
}
/* fin du menu */


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.entete{
    background-image: url("../Assets/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 50vh;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoEntete{
    width: 50px;
    height: 50px;
}
.illustrationEntete{
    width: 40vw;
    height: 40vh;
}

.titrePresentaion{
    color: white;
    width: 45vw;
    height: 100%;
    padding-bottom: 120px;
    background-color: rgba(30, 55, 153, .4);
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: -100px;
}

.prixInscription, .contacter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 0;
}
.prixInscription{
    width: 340px;
}
.btnPrix{
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}
.contacter{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 30px 20px;

}

section{
    display: flex;
    justify-content: space-evenly;
}
article{
    width: 45vw;
}
aside{
    width: 30vw;
}
.listObjectifs{
    list-style-type: none;
}
.jour1, .jour2, .jour3{
    background-color: rgba(44, 121, 199, .2);
    border-radius: 5px;
    margin: 5px;
    display: flex;
}
.listProgramme{
    list-style: none;
    margin-left: 0;
}
.programme{
    width: 100%;
}
.jours{
    background-color: rgba(44, 121, 199, .6);
    border-radius: 5px;
}
footer{
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-image: url("../Assets/footer.jpg");
}