<html>
    <head>
        <link href="/stylesheets/footer.css" rel="stylesheet">
    </head>
    <body>
        <footer class="footer-container">
            <div class="logoContactFooter">
                <div class="logoFooter">
                    <img class="logofooter" src="/images/logo.png" alt="logo de Eazytraining">
                </div>
                <div class="contact">
                    <p><ion-icon name="call-outline"></ion-icon> : + 33 (0)789919305 / + 33 (0)661981027</p>
                    <p><ion-icon name="mail-unread-outline"></ion-icon> : contact@eazytraining.fr</p>
                    <p><ion-icon name="location-outline"></ion-icon> : 9 rue Turbil, 69003 Lyon</p>
                    <p><ion-icon name="globe-outline"></ion-icon> : devops.eazytraining.fr</p>
                </div>
            </div>
            <div class="menuFooter">
                <a href="/" class="active">Home</a>
                 <a href="/cgu">Conditions Générales d'utilisation</a>
                <!-- <a href="/images/Condition de Eazytraining.pdf" target="_blank" >Conditions Générales d'utilisation</a> -->

                  <a href="/cgv" >Conditions Générales de vente</a>
                <!--  <a href="/images/Conditions Générales de vente.pdf" target="_blank" >Conditions Générales de vente</a> -->

              </div>
              <div class="localisation">
                  <h3>Mobilité</h3>
                  <h4>France</h4>
                  <p>Paris; Lille; Reims; Lyon; Toulouse; Bordeaux; Montpellier; Nice; Marseille; Aix-en-Provence; Nantes;
                      Rennes; Strasbourg; Grenoble; Dijon; Tours; Saint-Étienne; Toulon; Angers.
                  </p>
                  <h4>Belgique</h4>
                  <p>Bruxelles; Liège
                  </p>
                  <h4>Suisse</h4>
                  <p>Genève; Zurich; Lausanne.
                  </p>
                  <h4>Luxembourg</h4>
              </div>
          </footer>
      </body>
  </html>
